fieldset,
label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}
.rating > label:before {
    margin: 0 3px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating.rating_x2 > label:before {
    font-size: 1.5em;
}
.rating.rating_x3 > label:before {
    font-size: 1.75em;
}
.rating.rating_x4 > label:before {
    font-size: 2em;
}
.rating.rating_x5 > label:before {
    font-size: 2.25em;
}
.rating.rating_x6 > label:before {
    font-size: 2.5em;
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
    /* show gold star when clicked */ .rating:not(:checked) > label:hover,
    /* hover current star */ .rating:not(:checked) > label:hover ~ label {
    color: #ffb200;
} /* hover previous stars in list */

.rating > input[type=radio]:checked+label:before {
    color: #ffb200;
}

.rating > input:checked + label:hover,
    /* hover current star when changing rating */
.rating
> input:checked
~ label:hover,
.rating > label:hover ~ input:checked ~ label,
    /* lighten current selection */ .rating > input:checked ~ label:hover ~ label {
    color: #ffed85;
}

/* Readonly rating */
.rating-readonly {
    pointer-events: none;
}

.rfc-star-rating-table {
    width: 100%;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.08);
    background: #fff;
}
.rfc-star-rating-table th {
    text-align: left;
    background-color: #000000;
    font-size: 16px;
    color: #ffffff;
    padding: 9px 15px;
}
.rfc-star-rating-table th,
.rfc-star-rating-table td {
    padding-right: 9px;
    padding-left: 9px;
}
.rfc-star-rating-table .rating > label:before {
    margin: 0 2px;
}